:root {
    --color-primary: #2E5902;
    --color-secondary: #193C40;
    --color-tertiary: #f77c7c;
    --color-button: #F2059F;
    --color-button-hover: #ff60c7;
    --color-list: #05DF05;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-principal {
    height: 50vh;
}

#logo {
    width: 40vw;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 2.5rem;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-white);
    margin: 0.75rem 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    margin-top: 1.25rem;
}

.input-name {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1.5rem;
}

.button-container {
    width: 750px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover);
}

#button-mobile {
    display: none;
}

/* Listas */

.name-list {
    list-style-type: none;
    font-family: "Inter", sans-serif;
    margin: 1.25rem 0;
    color: var(--color-list);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem 2.5rem;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1.5rem;
}

.button-draw img {
    margin-right: 2.5rem;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Responsividade */

@media (min-width: 1201px) and (max-width: 1440px) {

}

@media (min-width: 1025px) and (max-width: 1200px) {
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    #img-principal {
        height: 40vh;
    }
    #logo {
        width: 30vw;
    }
}

@media (min-width: 411px) and (max-width: 768px) {
    .header-banner {
        flex-direction: column;
    }
    #img-principal {
        height: 30vh;
    }
    #logo {
        padding-top: 2rem;
        width: 70vw;
    }
    .button-container {
        max-width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .button-draw {
        max-width: 320px;
        width: 100%;
    }
    .section-title{
        font-size: 1.5rem;
    }
    .input-wrapper {
        max-width: 320px;
        width: 100%;
    }
    .button-add {
        display: none;
    }
    #button-mobile {
        display: flex;
        font-size: 2rem;
    }
}

@media (min-width: 320px) and (max-width: 410px) {
    .header-banner {
        flex-direction: column;
    }
    #img-principal {
        max-width: 240px;
        width: 100%;
        height: auto;
    }
    #logo {
        padding-top: 2rem;
        width: 70vw;
    }
    .button-container {
        max-width: 240px;
        flex-direction: column;
        align-items: center;
    }
    .button-draw {
        max-width: 240px;
        width: 100%;
        font-size: 1.2rem;
    }
    .section-title{
        font-size: 1.5rem;
    }
    .input-wrapper {
        max-width: 240px;
        width: 100%;
    }
    .input-name {
        font-size: 1.1rem;
    }
    .button-add {
        display: none;
    }
    #button-mobile {
        display: flex;
        font-size: 2rem;
    }
}